@font-face {
  font-weight: normal;
  font-family: Rubik;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: local("Rubik"), local("rubik"),
  url(../fonts/Rubik-Regular.ttf) format("truetype");

}

//@font-face {
//  font-family: Rubik;
//  font-weight: 500;
//  src: local("Rubik"), local("rubik"),
//  url(../fonts/Rubik-Medium.ttf) format("truetype");
//  font-style: normal;
//  font-stretch: normal;
//  font-display: swap;
//}
//@font-face {
//  font-family: Rubik;
//  font-weight: bold;
//  src: local("Rubik"), local("rubik"),
//  url(../fonts/Rubik-Bold.ttf) format("truetype");
//  font-style: normal;
//  font-stretch: normal;
//  font-display: swap;
//}
